.items-row {
    width:1280px;
    padding: 20px;
    float:left;
    display:table-cell;
}
.item1 {
    width:300px;
    float:left;
    display:table-cell;
}
.item2 {
    width:300px;
    float:left;
    display:table-cell;
}
.item3 {
    width:300px;
    float:left;
    display:table-cell;
}
.item4 {
    width:300px;
    float:left;
    display:table-cell;
}
.items-row img {
    width:300px;
    display:table-cell;
}
